#box1{
    height: 400px;
    width: 100%;
    position: relative;
    background-color: aqua;
animation: daynight 5s infinite;
}
@keyframes daynight {
    0%{
        background-color: skyblue;
    }
    50%{
        background-color: #001848;
    }
    100%{
        background-color: skyblue;
    }
    
}

#box2{
    height:70px;
    width:70px;
    border-radius:50%;
    margin:10px auto;
    background-color: red;
}

#box3{
     height:70px;
    width:70px;
    border-radius:50%;
    margin:10px auto;
    background-color: yellow;
}
#box4{
 height:70px;
    width:70px;
    border-radius:50%;
    margin:10px auto;
    background-color: green ;
}

.car{
    height: 200%;
    position:absolute;
    bottom:10px;
    animation: moveCar 5s linear infinite;
}

.road{
    height: 200px;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
}

@keyframes moveCar{
    0%{
        right:-200px;
    }
    100%{
        right:100%;
    }
}
.signal{
    height:260px;
    width:100px;
    background-color:black;
    position:absolute;
    top:20px;
    left:50px;
    border-radius:10px;
    padding-top:10px;
}
.cloud{
    position:absolute;
    background:white;
    border-radius:50px;
    height:40px;
    width:80px;
}

/* extra circles to form cloud */
.cloud::before,
.cloud::after{
    content:"";
    position:absolute;
    background:white;
    border-radius:50%;
}

.cloud::before{
    width:50px;
    height:50px;
    top:-20px;
    left:10px;
}

.cloud::after{
    width:40px;
    height:40px;
    top:-10px;
    left:40px;
}
.cloud1{
    top:30px;
    left:200px;
}

.cloud2{
    top:60px;
    left:500px;
}
.sun{
    height:300px;
    width:300px;
    background-color: yellow;
    border-radius:50%;
    position:absolute;
    top:20px;
    right:50px;
}